<%-include('./partials/header.ejs')%> <% if (user && user.role==='admin' ) { %>
<%- include('./partials/nav.ejs') %>
<main class="container-fluid">
  <h2 class="text-teal">Dashboard</h2>
  <hr />
  <section class="d-flex">
    <section class="card m-2 p-2" style="width: 50%">
      <h5 class="">Today:</h5>
      <section class="d-flex justify-content-around m-2">
        <div class="card shadow-lg rounded" style="width: 10rem">
          <div class="card-header bg-danger p-0 m-0">
            <p class="text-center text-light p-0 m-0 fw-300">Complaints</p>
          </div>
          <p class="card-body text-danger text-center lead fw-800 p-2 m-0">
            <%= todayCount %>
          </p>
        </div>
        <div class="card rounded shadow-lg ml-2" style="width: 10rem">
          <div class="card-header bg-warning p-0 m-0">
            <p class="text-center text-dark p-0 m-0 fw-300">In-Progress</p>
          </div>
          <p class="card-body text-dark text-center lead fw-800 p-2 m-0">150</p>
        </div>
        <div class="card rounded shadow-lg ml-2" style="width: 10rem">
          <div class="card-header bg-success p-0 m-0">
            <p class="text-center text-light p-0 m-0 fw-300">Resolved</p>
          </div>
          <p class="card-body text-success text-center lead fw-800 p-2 m-0">
            150
          </p>
        </div>
        <div class="card rounded shadow-lg ml-2" style="width: 10rem">
          <div class="card-header bg-dark p-0 m-0">
            <p class="text-center text-light p-0 m-0 fw-300">Comments</p>
          </div>
          <p class="card-body text-dark text-center lead fw-800 p-2 m-0">150</p>
        </div>
      </section>
      <hr />
      <h5 class="">Last 7 Days</h5>
      <section class="d-flex justify-content-start m-2">
        <div class="card shadow-lg rounded" style="width: 10rem">
          <div class="card-header bg-danger p-0 m-0">
            <p class="text-center text-light p-0 m-0 fw-300">Complaints</p>
          </div>
          <p class="card-body text-danger text-center lead fw-800 p-2 m-0">
            <%= last7DaysCount %>
          </p>
        </div>
        <div class="card rounded shadow-lg ml-2" style="width: 10rem">
          <div class="card-header bg-warning p-0 m-0">
            <p class="text-center text-dark p-0 m-0 fw-300">In-Progress</p>
          </div>
          <p class="card-body text-dark text-center lead fw-800 p-2 m-0">150</p>
        </div>
        <div class="card rounded shadow-lg ml-2" style="width: 10rem">
          <div class="card-header bg-success p-0 m-0">
            <p class="text-center text-light p-0 m-0 fw-300">Resolved</p>
          </div>
          <p class="card-body text-success text-center lead fw-800 p-2 m-0">
            150
          </p>
        </div>
        <div class="card rounded shadow-lg ml-2" style="width: 10rem">
          <div class="card-header bg-dark p-0 m-0">
            <p class="text-center text-light p-0 m-0 fw-300">Comments</p>
          </div>
          <p class="card-body text-dark text-center lead fw-800 p-2 m-0">150</p>
        </div>
      </section>
      <hr />
      <h5 class="">Last 30 Days:</h5>
      <section class="d-flex justify-content-start m-2">
        <div class="card shadow-lg rounded" style="width: 10rem">
          <div class="card-header bg-danger p-0 m-0">
            <p class="text-center text-light p-0 m-0 fw-300">Complaints</p>
          </div>
          <p class="card-body text-danger text-center lead fw-800 p-2 m-0">
            <%=last7DaysCount %>
          </p>
        </div>
        <div class="card rounded shadow-lg ml-2" style="width: 10rem">
          <div class="card-header bg-warning p-0 m-0">
            <p class="text-center text-dark p-0 m-0 fw-300">In-Progress</p>
          </div>
          <p class="card-body text-dark text-center lead fw-800 p-2 m-0">150</p>
        </div>
        <div class="card rounded shadow-lg ml-2" style="width: 10rem">
          <div class="card-header bg-success p-0 m-0">
            <p class="text-center text-light p-0 m-0 fw-300">Resolved</p>
          </div>
          <p class="card-body text-success text-center lead fw-800 p-2 m-0">
            150
          </p>
        </div>
        <div class="card rounded shadow-lg ml-2" style="width: 10rem">
          <div class="card-header bg-dark p-0 m-0">
            <p class="text-center text-light p-0 m-0 fw-300">Comments</p>
          </div>
          <p class="card-body text-dark text-center lead fw-800 p-2 m-0">150</p>
        </div>
      </section>
    </section>
    <section class="card m-2" style="width: 50%">Chart Section</section>
  </section>
  <% }else{ %> <%- include('404.ejs') %> <%}%>
</main>
<%-include('./partials/footer.ejs')%>
