<%-include('./partials/header.ejs')%>

    <body>
        
            <main class="container">
                <h1>Add User</h1>
                
                <div class="myCard myCard2">
                    <div class="wrapper">
                        <div class="myCard-header">
                            <h3>Register</h3>
                        </div>
                        <div class="myCard-title">
                            <span class="error"><%-include ('./partials/messages')%></span>
                        </div>
                        <div class="myCard-body">
                            <div class="frm-register">
                                <form action="/users/register" method="POST">
                                    <div>
                                        <label for="name">Name</label>
                                        <input type="name" name="name" id="name" placeholder="Enter Name"
                                            value="<%= typeof name != 'undefined' ? name : '' %>" />
                                    </div>
                                    <div>
                                        <label for="email">Email</label>
                                        <input type="email" name="email" id="email" placeholder="Enter Email"
                                            value="<%= typeof email != 'undefined' ? email : '' %>" />
                                    </div>
                                    <div>
                                        <label for="password">Password</label>
                                        <input type="password" name="password" id="password" placeholder="Create Password"
                                            value="<%= typeof password != 'undefined' ? password : '' %>" />
                                    </div>
                                    <div>
                                        <label for="password2">Confirm Password</label>
                                        <input type="password" name="password2" id="password2" placeholder="Confirm Password"
                                            value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
                                    </div>
                                    <div>
                                        <label for="role">Role</label>
                                        <input type="text" id="role" name="role" placeholder="Define User Role"
                                            value="<%= typeof role != 'undefined' ? role : '' %>" />
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Register
                                    </button>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </main>
<%-include('./partials/footer.ejs')%>